@import 'wrapper.css';
@import 'login.css';
@import 'form.css';

:root {
  --black: #414141;
  --white: #fff;
  --blue: #0A66C2;
}

body {
  margin: 0;
}

.container {
  background-color: var(--black);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 8 0;
}