@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&family=Rosario:wght@300&display=swap');
* {
  padding: 0;
  margin: 0;
  font-family: Century Gothic;
}
body {
  background-color: rgb(247, 243, 243);
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  margin-top: 70px;
  width: 500px;
  height: 900px;
  position: relative;
}

.master--form {
  border-radius: 20px;
  position: absolute;
  height: 500px;
  width: 290px;
  margin: 10px;
  background-color: #fff;
    /* Sombreado de caja */
    box-shadow: 18px 25px 25px 10px rgba(0,0,0,0.29);
    -webkit-box-shadow: 18px 25px 25px 10px rgba(0,0,0,0.29);
    -moz-box-shadow: 18px 25px 25px 10px rgba(0,0,0,0.29);
}

form {
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
input {
  padding: 7px;
  margin: 6px;
}
label {
  /* padding: 10px; */
  margin: 20px;
}

a {
  padding: 10px;
  font-size: 10px;
  text-decoration: none;
  color: #0966c2;
}

.text--sig-in {
  font-size: 30px;
  text-align: center;
  color: #0966c2;
  font-family: 'Josefin Sans';
}

img {
  height: 25px;
  width: 25px;
  align-items: flex-end;
}

button {
  color: #fff;
  padding: 10px;
  border-radius: 8px;
  border-style: none;
  margin: 10px;
  background-color: #0966c2;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.text--comment {
  font-size: 10px;
}

button:hover {
  background-color: #0558aa;
  
}
button:active {
  background-color: #0558aa;
  transform: translateY(-2px);
}